.builder-canvas-outer-container {
  position: relative;

  .builder-canvas-container {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;

    .main-page-container {
        height: 200px;
        width: 100px;
        background-color: red;
    }
  }
}